<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Új állatka hozzáadása</title>
</head>
<body>
<h1>Új állatka hozzáadása</h1>
<br/>
<h2>Alap adatok</h2>
<form>
    <label for="nev">Név:</label><br/>
    <input type="text" id="nev"/><br/>
    <div>
        <label for="kutya">Kutya</label>
        <input name="faj" type="radio" id="kutya" value="kutya"/><br/>
        <label for="cica">Cica</label>
        <input type="radio" name="faj" id="cica" value="cica"/><br/>
    </div>

</form>

</body>
</html>