<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Show bankaccount</title>
</head>
<body>
    <h1>Balance status</h1>
    <div>
        <table>
            <tr>
                <th>NAME</th>
                <th>BALANCE</th>
                <th>ANIMALTYPE</th>
            </tr>
            <tr>
                <td th:text="${account.name}" />
                <td th:text="${#numbers.formatDecimal(account.balance,0,2)}+' Zebra'" />
                <td th:text="${account.animalType}" />
            </tr>
    </div>

</body>
</html>