<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
    <meta charset="UTF-8"/>
    <title>ToDo List</title>
</head>
<body>
<div class="container">
    <h1>
        ToDos for today:
    </h1>

    <br/>

    <table class="table table-striped table-hover">
        <thead class="thead thead-dark">
        <tr class="table-dark">
            <th>Number</th>
            <th>ToDo</th>
            <th>Done?</th>
            <th>Urgent</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="todo:${todolist}">
            <td th:text="${todoStat.count}"></td>
            <td th:text="${todo.title}"></td>
            <td th:text="${todo.done}"></td>
            <td th:text="${todo.urgent}"></td>
            <td>
                <a th:href="@{'/todo/'+${todo.id}+'/delete'}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

    <br/>
    <a class="btn btn-info" href="/todo/addtodo" role="button">Add a new todo!</a>

    <br/><br/><br/>
    <div class="text text-success" th:text="${generalmessage}">

    </div>

    <script src="../webjars/jquery/1.11.1/jquery.min.js"></script>
    <script src="../webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</div>
</body>
</html>